<%_
const pageMeta = {
    'title': 'DETAIL | NEWS',
    'description': 'THIS IS TOP NEWS DETAIL PAGE'
};
_%>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('../includes/_header', { pageMeta: pageMeta }) -%>
</head>
<body>
<h2>NEWS/DETAIL</h2>
<%= id %>: <%= title %>
</body>
</html>
