<%_
const pageMeta = {
        'title': 'NEWS',
        'description': 'THIS IS TOP NEWS PAGE'
};
_%>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('/includes/_header', { pageMeta: pageMeta }) -%>
</head>
<body>
<h2>NEWS</h2>
<ul>
    <%_ entries.forEach(function(entry) { -%>
        <li><a href="<%- entry.id %>.html"><%= entry.title %></a></li>
    <%_ }); -%>
</ul>
</body>
</html>
