<header class="l-header">
    Header
    <h1>title</h1>
    <% if(pageId === 'home') { %>
        <!-- トップページでだしたいナビ -->
        <p>topのみ</p>
        <% } else { %>
        <!-- トップページ以外でだしたいナビ -->
        <p>top以外</p>
    <% } %>
</header>
