<div class="c-hamburger js-toggle-nav">
    <span></span>
    <span></span>
    <span></span>
</div>
<nav class="c-sp-nav">
    <ul class="c-sp-nav__list">
        <li>
            <a href="#section01">Nav01</a>
        </li>
        <li>
            <a href="#section02">Nav02</a>
        </li>
        <li>
            <a href="#section03">Nav03</a>
        </li>
        <li>
            <a href="#section04">Nav04</a>
        </li>
        <li>
            <a href="#section05">Nav05</a>
        </li>
    </ul>
</nav>
<div class="c-sp-nav-bg"></div>
